/** src/pages/index.module.css */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #25c2a0; /* Docusaurus Green */
  color: white;
}

.hero__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark mode adjustments */
[data-theme='dark'] .heroBanner {
  background-color: #1b1b1d;
  color: #fff;
}